node_modules/
node_temp/
satis_takip.db
config.json
update.zip
update_temp/
.env*
__pycache__/
*.pyc
console_errors.txt
irsaliyeler/

# Ignore everything in dist except .exe files
dist/*
!dist/*.exe

